@page
@model MyApp.Namespace.IndexModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Strona Index</h1>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sed quos aut! Eligendi sit omnis
            deserunt, officia veniam asperiores iure? Molestias, minus architecto nesciunt placeat veniam nostrum
            numquam ipsam ipsa.</div>
        Dzisiejsza data: @DateTime.Now
        <div>
            <a asp-page="Page1">Do strony Page1</a>
        </div>
    </div>

</body>

</html>
