@page
@model MyApp.Namespace.Page1Model
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h2>Strona Page1</h2>
    <div>
        <a href="/">Strona Index</a><br />
        <a asp-page="Index">Doo strony index</a>
        <div>           
            <img src="~/media/Euklides-img.jpg" alt="euklides"/>
        </div>
    </div>

    <script src="~/js/script.js"></script>
</body>
</html>
